.c-about#s-about {
  padding: var(--space-120) var(--space-0);
}

.c-about#s-about .grid-layout {
  display: flex;
  justify-content: space-between;
}

.c-about#s-about .grid-layout h2 {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  color: var(--color-body);
  text-transform: uppercase;
}

.c-about#s-about .grid-layout h3 {
  margin-top: var(--space-12);
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-500);
}

.c-about#s-about .grid-layout > div:nth-child(2) {
  width: 70%;
  display: flex;
  gap: var(--space-24);
  flex-direction: column;
}

.c-about#s-about .grid-layout > div:nth-child(2) h4 {
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-500);
}

.c-about#s-about .grid-layout > div:nth-child(2) p {
  font-size: var(--font-size-18);
  color: var(--color-body);
  line-height: var(--line-height-150);
}

.c-about#s-about .grid-layout > div:nth-child(2) p b {
  color: var(--color-heading);
}

@media screen and (max-width:1200px) {
  .c-about#s-about {
    padding: var(--space-72) var(--space-20);
  }

  .c-about#s-about .grid-layout > div:nth-child(2) {
    flex-wrap: wrap;
    gap: var(--space-32);
  }
}

@media screen and (max-width:992px) {
  .c-about#s-about .grid-layout {
    flex-wrap: wrap;
    gap: var(--space-40);
  }

  .c-about#s-about .grid-layout > div:nth-child(2) {
    width: 100%;
  }

  .c-about#s-about .grid-layout > div:nth-child(2) h4 {
    font-size: 2.8rem;
  }
}
